@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.System.Users.UserViewModel>

@{
    ViewData["Title"] = "Danh sách thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sách Người Dùng</h1>
<ol class="breadcrumb ">
    <li class="breadcrumb-item">Trang chủ</li>
    <li class="breadcrumb-item active">Danh Sách Người Dùng</li>
</ol>
<p>
    <a class="btn btn-success" asp-action="Create" asp-controller="User">Create New</a>
</p>
<div class="col-md-6 col-xs-12">
    <form asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-9">
                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
            </div>
            <div class="cold-md-3">
                <button type="submit" class="btn btn-primary">Tìm</button>
                <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-dark">Reset</button>
            </div>
        </div>
    </form>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered mydatatable" id="datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>Mlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumer)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>Mlem</th>
                    </tr>
                </tfoot>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
